
#site-content {
	min-height: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 1;
    background: #fff;
	
  
}
hr{
	width:70%;height: 2px;  color: #000; background: #000;
	margin: 5% 15% 2% 15%;

}